<div class="level">
    {{#each pages as |page|}}
        {{> render_page page=page index_type=../index_type}}
    {{/each}}
</div>

{{#if (hasChildren pages)}}
    {{#each pages as |page|}}
        {{> render_level pages=(sample-lookup ../parent_child_map page) index_type=../index_type parent_child_map=../parent_child_map}}
    {{/each}}
{{/if}}